<div class="py-2 navbar topbar d-md-none border-bottom">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="#"><img src='assets/images/logo-dark.png' alt="" height="24"></a>
        <button class="navbar-toggler py-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
    </div>
</div>


<div class="sidepenal">
    <h5>🙏🏽😊 Thank you for purchasing Judia 😊🙏🏽</h5>
</div>