<!-- Layout config Js -->
<style>
    .toolbar4 {
        z-index: 1050;
        top: calc(62% - 5px);


    }

    .toolbar4 .video {
        margin-right: -97px;
        transition: all 0.5s ease;
    }

    .toolbar4 .video:hover {
        margin-right: 0;
    }

    .toolbar4 .video i {
        margin-right: 16px;
        transition: all 0.5s ease;
    }

    .toolbar4 {
        top: calc(62% - 5px);
    }

    @media (max-width: 991.98px) {
        .toolbar4 {
            top: calc(72% - 25px);
        }
    }


    /* .toolbar4 .video i:hover {
        margin-right: 10px !important;
    } */
</style>
<!-- Layout config Js -->
<script src="https://themesbrand.com/docs/layout.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<!-- Icons Css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!-- App Css-->
<link href="https://themesbrand.com/docs/app.min.css" rel="stylesheet" type="text/css">